@model source.Models.Tour;

@{
    var CategoryTours = ViewBag.CategoryTours as List<CategoryTour>;
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tạo Tour</h4>
            <form class="forms-sample" enctype="multipart/form-data" asp-action='create' method="post">
                <div class="form-group">
                    <label asp-for='@Model.title'></label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name"
                        asp-for='@Model.title' />
                    <span asp-validation-for='@Model.title' class="text-danger  my-1 d-block"></span>
                </div>
                 <div class="form-group">
                    <label asp-for='@Model.price'></label>
                    <input  class="form-control" id="exampleInputName1" placeholder="Name"
                        asp-for='@Model.price' />
                    <span asp-validation-for='@Model.price' class="text-danger  my-1 d-block"></span>
                </div>
                 <div class="form-group">
                    <label asp-for='@Model.openTime'></label>
                    <input  class="form-control" id="exampleInputName1" placeholder="Name"
                        asp-for='@Model.openTime' />
                    <span asp-validation-for='@Model.openTime' class="text-danger  my-1 d-block"></span>
                </div>
                 <div class="form-group">
                    <label asp-for='@Model.location'></label>
                    <input  class="form-control" id="exampleInputName1" placeholder="Name"
                        asp-for='@Model.location' />
                    <span asp-validation-for='@Model.location' class="text-danger  my-1 d-block"></span>
                </div>
                
                 <div class="form-group">
                    <label asp-for='@Model.time'></label>
                    <input  class="form-control" id="exampleInputName1" placeholder="Name"
                        asp-for='@Model.time' />
                    <span asp-validation-for='@Model.time' class="text-danger  my-1 d-block"></span>
                </div>

                 <div class="form-group">
                    <label>Hình Ảnh Hiển Thị: </label>
                    <input  class="form-control" id="exampleInputName1" placeholder="Name"
                        type="file" name="mainImg" />
                </div>
                <div class="form-group">
                    <label>Mô Tả: </label>
                    <textarea name="desc" id="descTour" cols="30" rows="10"></textarea>
                </div>
                 <div class="form-group">
                    <label>Thông Tin: </label>
                    <textarea name="info" id="infoTour" cols="30" rows="10"></textarea>
                </div>

                 <div class="form-group">
                    <label>Lịch Trình: </label>
                    <textarea name="schedule" id="scheduleTour" cols="30" rows="10"></textarea>
                </div>
                 <div class="form-group">
                    <label>Lịch Khởi Hành: </label>
                    <textarea name="departureSchedule" id="departureScheduleTour" ></textarea>
                </div>

                
               
             
              
                <div class="form-group">
                    <label for="exampleSelectGender">Chọn Danh Mục:</label>
                    <select name="categoryTour" class="form-control" id="exampleSelectGender">
                        @if (CategoryTours != null)
                        {
                            foreach (var item in CategoryTours)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        }
                    </select>
                </div>


                <button type="submit" class="btn btn-primary mr-2">
                    Submit
                </button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script>
      CKEDITOR.replace("descTour", {
            filebrowserBrowseUrl: '@Url.Content("~/lib/elfinder/elfinder.html")',
        });
        CKEDITOR.replace("infoTour", {
            filebrowserBrowseUrl: '@Url.Content("~/lib/elfinder/elfinder.html")',
        });
        CKEDITOR.replace("scheduleTour", {
            filebrowserBrowseUrl: '@Url.Content("~/lib/elfinder/elfinder.html")',
        });
         CKEDITOR.replace("departureScheduleTour", {
            filebrowserBrowseUrl: '@Url.Content("~/lib/elfinder/elfinder.html")',
        });
</script>
